In [1]:
import pandas as pd
import plotly.express as px
import seaborn as sns

In [55]:
data = pd.read_csv("FPData2.csv")

In [56]:
df = pd.DataFrame(data)

In [57]:
df.columns = ['Country', 'year', 'ladder', 'gdp', 'support', 'life_expec', 'freedom', 'generosity','corruption','positive', 'negative']
df.head()

,Country,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
0,Afghanistan,2008,3.724,7.350,0.451,50.5,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.8,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.1,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.4,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.7,0.531,0.238,0.776,0.614,0.268

In [58]:
y = df.groupby('Country').count()

In [59]:
less = y[y['year'] <= 10].index.tolist()

In [60]:
df = df[~df['Country'].isin(less)]

In [61]:
df

,Country,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
0,Afghanistan,2008,3.724,7.350,0.451,50.500,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,2009,4.402,7.509,0.552,50.800,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,2010,4.758,7.614,0.539,51.100,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268
...,...,...,...,...,...,...,...,...,...,...,...
2194,Zimbabwe,2018,3.616,7.783,0.775,52.625,0.763,-0.051,0.844,0.658,0.212
2195,Zimbabwe,2019,2.694,7.698,0.759,53.100,0.632,-0.047,0.831,0.658,0.235
2196,Zimbabwe,2020,3.160,7.596,0.717,53.575,0.643,0.006,0.789,0.661,0.346
2197,Zimbabwe,2021,3.155,7.657,0.685,54.050,0.668,-0.076,0.757,0.610,0.242
2198,Zimbabwe,2022,3.296,7.670,0.666,54.525,0.652,-0.070,0.753,0.641,0.191

In [62]:
df.groupby('Country').count()

,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
Country,,,,,,,,,,
Afghanistan,14,14,13,14,14,14,13,14,14,14
Albania,15,15,15,15,15,15,15,15,15,15
Argentina,17,17,17,17,17,17,17,17,17,17
Armenia,16,16,16,16,16,16,16,16,16,16
Australia,16,16,16,16,16,16,15,16,16,16
...,...,...,...,...,...,...,...,...,...,...
Venezuela,17,17,14,17,17,17,13,17,17,17
Vietnam,17,17,17,16,17,14,16,13,15,16
Yemen,12,12,12,12,12,12,12,9,12,12
Zambia,15,15,15,15,15,15,15,15,15,15
Zimbabwe,17,17,17,17,17,17,17,17,17,17

In [63]:
df.groupby('year').count()

,Country,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
year,,,,,,,,,,
2005,27,27,27,27,27,25,1,25,26,26
2006,84,84,84,84,83,81,77,79,83,83
2007,95,95,94,93,94,94,94,91,92,95
2008,102,102,102,102,100,99,101,99,101,102
2009,105,105,105,104,103,104,105,103,104,104
2010,115,115,115,114,113,114,115,111,114,114
2011,126,126,126,126,122,126,125,121,126,126
2012,126,126,126,126,122,126,119,120,126,126
2013,126,126,126,126,123,125,123,120,124,126
2014,128,128,128,125,124,123,125,121,124,125
2015,129,129,129,129,126,127,129,122,129,129
2016,128,128,128,128,124,127,128,120,128,128
2017,129,129,129,128,125,128,128,120,128,128
2018,126,126,126,126,123,125,126,120,125,125
2019,127,127,127,127,123,126,127,120,126,126
2020,108,108,106,108,105,107,106,102,107,107
2021,114,114,112,114,111,113,112,111,114,114
2022,104,104,98,104,101,103,98,101,104,104

In [64]:
year_list = range(2011, 2020)
for e in year_list:
    print(e)

2011
2012
2013
2014
2015
2016
2017
2018
2019

In [68]:
df_11 = df[df['year'].isin(year_list)]

In [69]:
df_11

,Country,year,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
3,Afghanistan,2011,3.832,7.581,0.521,51.400,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,2012,3.783,7.661,0.521,51.700,0.531,0.238,0.776,0.614,0.268
5,Afghanistan,2013,3.572,7.680,0.484,52.000,0.578,0.063,0.823,0.547,0.273
6,Afghanistan,2014,3.131,7.671,0.526,52.300,0.509,0.106,0.871,0.492,0.375
7,Afghanistan,2015,3.983,7.654,0.529,52.600,0.389,0.082,0.881,0.491,0.339
...,...,...,...,...,...,...,...,...,...,...,...
2191,Zimbabwe,2015,3.703,7.747,0.736,51.200,0.667,-0.107,0.810,0.639,0.179
2192,Zimbabwe,2016,3.735,7.735,0.768,51.675,0.733,-0.079,0.724,0.685,0.209
2193,Zimbabwe,2017,3.638,7.754,0.754,52.150,0.753,-0.081,0.751,0.734,0.224
2194,Zimbabwe,2018,3.616,7.783,0.775,52.625,0.763,-0.051,0.844,0.658,0.212
2195,Zimbabwe,2019,2.694,7.698,0.759,53.100,0.632,-0.047,0.831,0.658,0.235

In [71]:
df_11.groupby('year').count()

,Country,ladder,gdp,support,life_expec,freedom,generosity,corruption,positive,negative
year,,,,,,,,,,
2011,126,126,126,126,122,126,125,121,126,126
2012,126,126,126,126,122,126,119,120,126,126
2013,126,126,126,126,123,125,123,120,124,126
2014,128,128,128,125,124,123,125,121,124,125
2015,129,129,129,129,126,127,129,122,129,129
2016,128,128,128,128,124,127,128,120,128,128
2017,129,129,129,128,125,128,128,120,128,128
2018,126,126,126,126,123,125,126,120,125,125
2019,127,127,127,127,123,126,127,120,126,126